<h1 mat-dialog-title>Please add your material</h1>
<div mat-dialog-content>
  <p>What's type of material is it?</p>
  <mat-form-field>
    <input matInput >
  </mat-form-field>
</div>
<div mat-dialog-content>
    <p>What's the quantity?</p>
    <mat-form-field>
      <input matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
      <p>What's the status?</p>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Add</button>
</div>
