// style of colours should be in here primary secondary buttons etc

$primary-color: #4CAF50;
$primary-color-light: #E8F5E9;
$primary-color-dark: #1B5E20;
$secondary-color: #795548;
$secondary-color-light: #EFEBE9;
$secondary-color-dark: #4E342E;
$success-color: green;
$error-color: red;

$link-color: blue;