@import "../../../styles.scss";
@import '../../../sass/variables';
@import '../../../sass/styles.scss';
@import '../../../sass/fonts';

.not-logged {
    @include gradient-vertical($primary-color, $primary-color-light);
    height: 100%;
    width: 100%;
    .container {
        .text-center {
            img {
                height: 600px;
                margin-bottom: 5%;
                border-radius: 5%;
            }
            div {
                height: 10%;
                width: 12%;
                background-color: transparent;
                position: absolute;
                z-index: 12;
                &.dashboard {
                    top: 10%;
                    left: 30%;
                }
                &.donator {
                    top: 5%;
                    left: 18%;
                }
                &.farmer {
                    top: 18%;
                    left: 12%;
                }
            }
        }
    }
}